// -------------------- //
// ------COLORS-------- //
// -------------------- //

$primary-color: #FFAD00
$secondary-color: #061B33
$background-color: #6D6D6D
$white-color: #FFFFFF
$black-color: #000000

// -------------------- //
// ------FONTS--------- //
// -------------------- //

$heading-font-family: 'Josefin Sans', sans-serif
$base-font-family: 'Mina', sans-serif

// -------------------- //
// ------IMAGES-------- //
// -------------------- //



// -------------------- //
// -MEDIA  BREAKPOINTS- //
// -------------------- //
